* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* #region utility */

.container {
    max-width: 1170px;
    width: 70%;
    margin: auto;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.dir-col {
    flex-direction: column;
}

/* #endregion utility */

/* #region calculate */

h1, h2 {
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}

.card {
    padding: 2rem;
    background-color: violet;
    border-radius: 1rem;
    flex-direction: column;
}

.card > .row > div {
    padding: 0 1rem;
}

.col-4 h4 {
    padding-bottom: .8rem;
}

.btn_aqua {
    width: 70%;
    border: 2px solid aqua;
    border-radius: 1rem;
    padding: .3rem;
}

.commands {
    text-align: center;
    padding-top: 3rem;
}

button {
    background-color: white;
    padding: .8rem 2rem;
    border-radius: 1rem;
}

/* #endregion calculate */

/* #region calculate */

.ticket h3, .ticket h4 {
    padding-bottom: 2rem;
}

.ticket .col-3 {
    background-color: pink;
    border: 2px solid aqua;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-right: none;
    padding: 1rem;
    height: 150px;
}

.ticket .col-9 {
    background-color: purple;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border: 2px solid aqua;
    padding: 1rem;
}

.ticket .card p {
    justify-content: center;
    height: 100%;
}

/* #endregion calculate */

